<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Dashboard</title>

    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <header class="header">
      <a href="index.html" class="logo"> Online Education System </a>

      <div id="menu-btn" class="fas fa-bars"></div>

      <nav class="navbar">
        <ul>
          <li><a href="index.html">home</a></li>
          <li><a href="about.html">about</a></li>
          <li><a href="contact.html">contact</a></li>
          <li><a href="/signout">Logout</a></li>
        </ul>
      </nav>
    </header>

    <section class="heading">
      <h3>Courses</h3>
      <p><a href="index.html">home ></a> Course</p>
    </section>

    <section class="course-1 course-2">
      <% for (let i = 1; i <= 6; i++) { %>
      <div class="box">
        <img src="images/course-<%= i %>.png" alt="" />
        <h3>
          <%= i === 1 ? 'web design' : i === 2 ? 'seo marketing' : i === 3 ?
          'science & biology' : i === 4 ? 'business' : i === 5 ? 'language' :
          'development' %>
        </h3>
        <p>
          Learn for Free and improve your career skills online today. Choose
          from a wide range of Free courses
        </p>
        <a href="#" class="btn">Enroll</a>
      </div>
      <% } %>
    </section>

    <section class="footer">
      <div class="credit">Online Education System</div>
    </section>

    <!-- <script src="js/script.js"></script> -->
  </body>
</html>
