<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Courses</title>

    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <header class="header">
      <a href="index.html" class="logo"> Online Education System </a>

      <div id="menu-btn" class="fas fa-bars"></div>

      <nav class="navbar">
        <ul>
          <li><a href="home.html">home</a></li>
          <li><a href="about.html">about</a></li>
          <li><a href="contact.html">contact</a></li>
          <li><a href="/signout">Logout</a></li>
        </ul>
      </nav>
    </header>

    <section class="heading">
      <h3>Courses</h3>
      <p><a href="index.html">home ></a> Course</p>
    </section>

    <section class="course-1 course-2">
      <% courses.forEach(course => { %>
      <div class="box">
        <div class="image">
          <img src="images/course-1.png" alt="" />
        </div>
        <div class="content">
          <span><%= course.courseName %></span>
          <h3><%= course.courseName %></h3>
          <p><%= course.courseDescription %></p>
          <a href="#" class="btn">read more</a>
        </div>
      </div>
      <% }) %>
    </section>

    <section class="footer">
      <div class="credit">Online Education System</div>
    </section>

    <script src="js/script.js"></script>
  </body>
</html>
